@{
    ViewData["Title"] = "Personvernerklæring";
}
<h1>@ViewData["Title"]</h1>

<p>Personvernet ditt er viktig for oss. Denne personvernerklæringen forklarer hvordan vi samler inn, bruker og beskytter din personlige informasjon.</p>

<h2>Informasjon vi samler inn</h2>
<p>Vi kan samle inn følgende typer informasjon:</p>
<ul>
    <li>Personlig identifikasjonsinformasjon (Navn, e-postadresse, telefonnummer, etc.)</li>
    <li>Bruksdata (Besøkte sider, tid brukt på nettstedet, etc.)</li>
</ul>

<h2>Hvordan Vi Bruker Din Informasjon</h2>
<p>Vi bruker informasjonen vi samler inn på følgende måter:</p>
<ul>
    <li>For å levere og vedlikeholde vår tjeneste</li>
    <li>For å varsle deg om endringer i vår tjeneste</li>
    <li>For å yte kundesupport</li>
    <li>For å samle inn analyse eller verdifull informasjon slik at vi kan forbedre vår tjeneste</li>
    <li>For å overvåke bruken av vår tjeneste</li>
</ul>

<h2>Hvordan Vi Beskytter Din Informasjon</h2>
<p>Vi implementerer en rekke sikkerhetstiltak for å opprettholde sikkerheten til din personlige informasjon. Din personlige informasjon er lagret bak sikre nettverk og er kun tilgjengelig for et begrenset antall personer som har spesielle tilgangsrettigheter til slike systemer, og er pålagt å holde informasjonen konfidensiell.</p>

<h2>Kontakt Oss</h2>
<p>Hvis du har spørsmål om denne personvernerklæringen, kan du kontakte oss på:</p>
<p>Telefon: 32 11 80 00</p>
<p>E-post: <a href="mailto:post@kartverket.no">post@kartverket.no</a></p>